.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}
.count-down {
    text-align: center;
    .count-numbers {
        font-size: 4rem;
        line-height: 4rem;
        padding: 0;
    }

    // @media @min768 {
    //     .count-numbers {
    //         font-size: 7rem;
    //         line-height: 7rem;
    //     }
    // }
    // @media @min1024 {
    //     .count-numbers {
    //         font-size: 8rem;
    //         line-height: 8rem;
    //     }
    // }
}
.custom-menu-filter {
    box-shadow: none;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0;
    padding: 0;
    line-height: 0;
    list-style: none;
    outline: none;
}
.custom-menu-filter-item {
    padding-left: 24px;
    line-height: 40px;
    height: 40px;
}
.section {
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 25px;
    @media @min768 {
        padding: 0 40px;
    }
    @media @min1024 {
        padding: 0 55px;
    }
}
.section2 {
    margin: 0 auto;
    max-width: 1000px;
    @media @min768 {
        padding: 0 20px;
    }
    @media @min1024 {
        padding: 0;
    }
}
.section-title-line {
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.css-generic {
    -ms-flex-align: stretch;
    -ms-flex-direction: column;
    -ms-flex-negative: 0;
    -ms-flex-preferred-size: auto;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-basis: auto;
    -webkit-flex-direction: column;
    -webkit-flex-shrink: 0;
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    min-height: 0px;
    min-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    z-index: 0;
}
.wrapper-line {
    position: absolute;
    display: none;

    @media @min1024 {
        display: flex;
    }
}
.wrapper-line-lt {
    left: 0;
    top: 0;
    border-left: 1px;
    border-top: 1px;
    .line-decoration {
        position: relative;
        flex-grow: 1;
        > div {
            position: absolute;
            left: 0;
            margin-left: -4px;
            background-color: green;
        }
    }
}
.wrapper-line-rt {
    right: 0;
    top: 0;
    border-right: 1px;
    border-top: 1px;
    .line-decoration {
        position: relative;
        flex-grow: 1;
        > div {
            position: absolute;
            right: 0;
            margin-right: -4px;
            background-color: green;
        }
    }
}
.landSlide img {
    width: 12rem;
    margin: 0 auto;
    @media @min768 {
        width: 20rem;
    }
}
.landSlide {
    transform: scale(0.8);
    transition: transform 300ms;
    opacity: 0.5;
}
.activeSlide {
    transform: scale(1.1);
    opacity: 1;
}
.arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;

    .svg-container {
        width: 30px;
        svg {
            opacity: 0.7;
            transition: color 300ms;
            &:hover {
                opacity: 1;
                color: #68edff;
            }
        }
        @media @min1024 {
            width: 50px;
        }
    }
}
.prev {
    left: 0%;
    top: 40%;
}
.next {
    right: 0%;
    top: 40%;
}
.whitelist {
    .ant-select {
        color: #fff !important;
        font-size: 30px !important;
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        background-color: #1e3755 !important;
        border: none;
        color: #fff;
    }
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: #1e3755 !important;
        color: #fff;
    }
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        height: 55px !important;
    }
    .ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
        line-height: 55px !important;
    }
    .ant-input[disabled] {
        background-color: #1d2732;
    }
    .ant-btn[disabled],
    .ant-btn[disabled]:hover,
    .ant-btn[disabled]:focus,
    .ant-btn[disabled]:active  {
        border-color: #b9b9b9;
        background: #b9b9b9;
        cursor: not-allowed;
        span {
            color: #8e8e8e;
        }
    }
    .ant-select-disabled.ant-select:not(.ant-select-customize-input)
        .ant-select-selector  {
        background-color: #1d2732 !important;
        color: #728294 !important;
    }
    .ant-radio-group-solid
        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        background: #1e3755 !important;
        border-color: #1e3755 !important;
    }
    .ant-form-item-has-error
        :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
        background: #1e3755 !important;
        border-color: #1e3755 !important;
    }
    .ant-form-item-explain-error {
        color: #1bc09b !important;
        font-size: 19px;
    }
    .ant-radio-button-wrapper {
        height: 50px !important;
        padding: 10px 25px !important;
        font-size: 24px !important;
    }
    .ant-radio-button-wrapper:hover {
        color: #1e3755 !important;
    }
    .ant-radio-button-wrapper.ant-radio-button-wrapper-checked:hover {
        color: #fff !important;
    }
    .ant-radio-group-solid
        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
        box-shadow: none !important;
    }
    button.btn-whitelist:disabled,
    button.btn-whitelist[disabled] {
        border-color: #b9b9b9;
        background: #b9b9b9;
        cursor: not-allowed;
        span {
            color: #8e8e8e;
        }
    }
}
